<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.google.android.sportsflash">
<application android:icon="@drawable/icon">
<activity android:name="SportsFlash" android:label="SportsFlash">
</activity><activity android:name=".mlb.teammanagement.SportsFlashTeamManagement" android:label="SportsFlash TeamManagement">
</activity><activity android:name=".mlb.teammanagement.MLBPlayerView" android:label="MLB PlayerView">
</activity><activity android:name=".mlb.teammanagement.Draft" android:label="MLB Draft">
</activity></application></manifest>