<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name = "MetadataBehavior">
					<serviceMetadata httpGetEnabled = "true" httpsGetEnabled  = "false" />
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name ="webBehavior">
					<webHttp />
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<services>
			<service name="com.google.android.sportsflash.SportsFlashService" behaviorConfiguration="MetadataBehavior">

				<!-- This endpoint is exposed at the base address provided by host: http://localhost/sportsflashws/serviceSF.svc  -->
				<endpoint address=""
						  binding="wsHttpBinding"
						  contract="com.google.android.sportsflash.ISportsFlash" />


				<!-- The mex endpoint is explosed at http://localhost/sportsflashws/serviceSF.svc/mex -->
				<endpoint address="mex"
						  binding="mexHttpBinding"
						  contract="IMetadataExchange" />

				<!-- The rest endpoint is explosed at http://localhost/sportsflashws/serviceSF.svc/rest -->
				<endpoint address="rest"
						  behaviorConfiguration="webBehavior" 
						  binding="webHttpBinding"
						  bindingConfiguration="" 
						  contract="com.google.android.sportsflash.ISportsFlash" />				

			</service>
		</services>

	</system.serviceModel>
</configuration>
